option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: movies/wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
    /media: media
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: movies.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/
    MatcherHTTPCode: 200

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python movies/manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python movies/manage.py migrate --noinput"
    leader_only: true